{{ docType() }}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{% block title %}{% endblock title %} >> {{ translate('PServerAdmin') }}
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %}{% endblock meta %}

	<!-- styles -->
	{#<link href="{{ basePath() }}/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">#}
	<link href="{{ basePath() }}/assets/bootstrap/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
	<link href="{{ basePath() }}/assets/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
	<link href="{{ basePath() }}/adminLayout/layout.css" media="screen" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	{% block style %}{% endblock style %}

</head>
<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#menu-toggle" class="btn-sm btn-sidebar" id="menu-toggle"><span class="glyphicon glyphicon-th-list"></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('admin_home') }}">Admin</a>
        </div>

        <div class="collapse navbar-collapse" id="admin-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Username</a></li>
                <li><a href="{{ url('small-user-auth',{'action':'logout'}) }}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="sidebar-wrapper" class="panel-collapse collapse in sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ url('admin_home') }}">Home</a></li>
			{% if isAllowed('admin_user') %}
				<li><a href="{{ url('admin_user') }}">Userpanel</a></li>
			{% endif %}
			{% if isAllowed('admin_news') %}
				<li><a href="{{ url('admin_news') }}">News</a></li>
			{% endif %}
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{{ content|raw }}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}{% endblock script %}

<!-- Scripts -->
<script type="text/javascript" src="{{ basePath() }}/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ basePath() }}/assets/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/assets/js/respond.min.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/assets/js/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="{{ basePath() }}/js/function.js"></script>
<script>
    jQuery("#menu-toggle").click(function(e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>