{% extends 'layout/admin' %}

{% set typeList = {0:'new',1:'open',2:'closed'} %}

{% block title %}
	TicketSystem
{% endblock title %}

{% block content %}

	<div class="clearfix"></div>
	<div class="table-responsive margin-top-10">
		<table class="table table-bordered table-hover">
			<tr>
				<th>Subject</th>
				<th>Autor</th>
				<th>Category</th>
				<th>LastEdit</th>
				<th>Created</th>
				<th>Option</th>
			</tr>
			{% for iKey, oCurTicketSubject in ticketList %}
				<tr>
					<td>{{ oCurTicketSubject.getSubject }}</td>
					<td>{{ oCurTicketSubject.getUser.getUsername }}</td>
					<td>{{ oCurTicketSubject.getTicketCategory.getSubject }}</td>
					<td>{{ oCurTicketSubject.getLastEdit|date('d.m.Y H:i') }}</td>
					<td>{{ oCurTicketSubject.getCreated|date('d.m.Y H:i') }}</td>
					<td><a href="{{ url('zfc-ticketsystem-admin', {'id':oCurTicketSubject.getTicketid, 'action':'view'}) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> View</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}