{% extends 'layout/admin' %}

{% block title %}
	Download
{% endblock title %}

{% block content %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered  table-hover table-condensed">
			<thead>
			<tr>
				<th>#</th>
				<th>Hoster</th>
				<th>Link</th>
				<th>Memo</th>
				<th>Active</th>
				<th>Sortkey</th>
				<th>Option</th>
			</tr>
			</thead>
			<tbody>
			{% for key, curDownload in download %}
				<tr>
					<td>{{ curDownload.getId }}</td>
					<td>{{ curDownload.getHoster }}</td>
					<td>{{ curDownload.getLink }}</td>
					<td>{{ curDownload.getMemo|striptags|slice(0, 200) }}</td>
					<td>{{ curDownload.getActive }}</td>
					<td>{{ curDownload.getSortkey }}</td>
					<td>
						<a href="{{ url('admin_download', {'action' : 'detail', 'id' : curDownload.getId }) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> edit</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
	<a href="{{ url('admin_download', {'action' : 'new'}) }}" class="btn btn-danger btn-sm"><i class="fa fa-adn"></i> new</a>
{% endblock content %}